.Product{
    margin-top:5rem;
}

.Product .products{
    width: 100%;
    margin-bottom: 20px;
}

.products h2{
    display: flex;
    justify-content: center; 
     font-size: 4rem;

}



@media (max-width: 768px){
    .Product .products{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .products h2{
        display: flex;
        justify-content: center; 
         font-size: 3rem;
    
    }

}